@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font:  3em , Arial, Helvetice Neue, sans-serif;
  color: rgb(243 244 246);
  font-weight: 600;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: url(/templatemo_pagebg.jpg) no-repeat #0d293b top center;
}


.rotate {
  @apply rotate-90;
  font-size: 26px;
}



/* slider css start
.swiper-container {
  width: 100%;
  max-height: 581px;
  overflow: hidden;
  position: relative;
}
.swiper {
  width: 100%;
  max-height: 581px !important;
} 


 .swiper-pagination {
  bottom: 5px !important;
  z-index: 100 !important;
} *

.swiper-pagination-bullet {
  background-color: blue;
}

.swiper-pagination-bullet-active {
  background-color: red;
} */



/* slider css start */
/* slider css start */
@media (max-width: 767px) {
  .swiper-container {
    /* width: 100%; */
    min-width: 100%;
    max-height: 250px;
    overflow: hidden;
    position: relative;
  }
  .swiper {
    /* width: 100%; */
    min-width: 100%;
    max-height: 250px !important;
  }
  .swiper-pagination {
    bottom: 5px !important;
    z-index: 100 !important;
  }
  .swiper-pagination-bullet {
    background-color: blue;
  }
  .swiper-pagination-bullet-active {
    background-color: red;
  }
}




@media (min-width: 768px) {
  .swiper-container {
    width: 100%;
    max-height: 581px;
    overflow: hidden;
    position: relative;
  }
  .swiper {
    width: 100%;
    max-height: 581px !important;
  }
  .swiper-pagination {
    bottom: 5px !important;
    z-index: 100 !important;
  }
  .swiper-pagination-bullet {
    background-color: blue;
  }
  .swiper-pagination-bullet-active {
    background-color: red;
  }
}

